rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if request.auth != null && request.auth.uid == userId
                   && (
                     // Admin/Premium bypass or just checking if they are exceeding free tier
                     request.resource.data.profile.isPremium == true 
                     || (
                       request.resource.data.profile.dailyCvFits <= 1
                       && request.resource.data.profile.dailyJobsSwiped <= 5
                     )
                   );
    }
  }
}
